<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AndroidSuperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".jook.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".jook.Login_Screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jook.Add_Customer"
            android:label="הוסף לקוח" >
        </activity>
        <activity
            android:name=".jook.Add_Supplier"
            android:label="הוסף ספק" >
        </activity>
        <activity
            android:name=".jook.AddUser"
            android:label="הוסף משתמש" >
        </activity>
        <activity
            android:name=".jook.ShowAllBooksInCategory"
            android:label="@string/title_activity_show_all_books_in_category"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".jook.Show_Recomends_for_book"
            android:label="המלצות לספר" >
        </activity>
        <activity
            android:name=".jook.OrderPage"
            android:label="סיכום הזמנה" >
        </activity>
        <activity
            android:name=".jook.AddBook"
            android:label="הוסף ספר" >
        </activity>
        <activity
            android:name=".jook.Add_Admin"
            android:label="הוסף מנהל" >
        </activity>
        <activity
            android:name=".jook.ShowBookMain"
            android:label="@string/title_activity_show_book_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".jook.RecommendationActivity" >
        </activity>
        <activity
            android:name=".jook.Show_Recommends_For_Book"
            android:label="@string/title_activity_show__recommends__for__book"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".jook.CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
